<ion-content padding id="bg">

	<div id="blur">
		
	</div>
	<div id="logo">
		
	</div>
	<ion-slides class = "sl">

		<!--login form -->
		<ion-slide class = "swiper-no-swiping">
			<div id="heading">Sign in to toySwap</div>
			<form [formGroup]="logInForm" class = "form">
				<ion-item class="clear">
					<ion-label stacked class="lb">Email</ion-label>
					<ion-input type="text" formControlName="email" class="tb" ></ion-input>
				</ion-item>
				<br>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.email">
						<div class="error-message" *ngIf="logInForm.get('email').hasError(validation.type) && (logInForm.get('email').dirty || logInForm.get('email').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>

				<ion-item class="clear">
					<ion-label stacked class="lb">Password</ion-label>
					<ion-input type="password" formControlName="pass" class="tb"></ion-input>
				</ion-item>
				<br>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.pass">
						<div class="error-message" *ngIf="logInForm.get('pass').hasError(validation.type) && (logInForm.get('pass').dirty || logInForm.get('pass').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>

				<ion-row>
					<ion-col>
						<button ion-button full (click)="toggle(true);" class="bt">create account</button>
					</ion-col>
					<ion-col>
						<button ion-button full (click)="login();" class="bt">login</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button id = "reset" (click) = "showPrompt();">forgot your password?</button>
					</ion-col>
				</ion-row>

				<ion-row>
					<h2>or sign in with your google account</h2>
				</ion-row>
			
			<div id = "flex">
				<button ion-fab color = "google" (click) = "googleSign();">
						<ion-icon name="logo-google" color = "googlered"></ion-icon>
				</button>
			</div>
			
			</form>
		</ion-slide>

		<!--register form-->

		<ion-slide  class = "swiper-no-swiping">
			<div id="heading">Create a new account</div>
			<form [formGroup]="registerForm" class = "form">
				<ion-item class="clear">
					<ion-label stacked class="lb">First Name</ion-label>
					<ion-input type="text" formControlName="name" class="tb"></ion-input>
				</ion-item>

				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.name">
						<div class="error-message" *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>

				<ion-item class="clear">
					<ion-label stacked class="lb">Surname</ion-label>
					<ion-input type="text" formControlName="surname" class="tb"></ion-input>
				</ion-item>

				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.name">
						<div class="error-message" *ngIf="registerForm.get('surname').hasError(validation.type) && (registerForm.get('surname').dirty || registerForm.get('surname').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
	
				<ion-item class="clear">
					<ion-label stacked class="lb">Email</ion-label>
					<ion-input type="email" formControlName="email" class="tb"></ion-input>
				</ion-item>

				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.email">
						<div class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
				<ion-item class="clear">
					<ion-label stacked class="lb">Password</ion-label>
					<ion-input type="password" formControlName="pass" class="tb"></ion-input>
				</ion-item>

				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.pass">
						<div class="error-message" *ngIf="registerForm.get('pass').hasError(validation.type) && (registerForm.get('pass').dirty || registerForm.get('pass').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
				<ion-row>
					<ion-col>
						<button ion-button full (click)="toggle(false);" class="bt">go to login</button>
					</ion-col>
					<ion-col>
						<button ion-button full class="bt" (click)="register();">sign up</button>
					</ion-col>
				</ion-row>
			</form>

		</ion-slide>

	</ion-slides>

</ion-content>