#preview{
  height: 58px;
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 1px;

  .thumbnails{
    position: relative;
    background-size: 50px !important;
    background-position: center center;
    background-color: red;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    animation: pop 750ms ease;
    
  }
}
#status{
  background:white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.remove{
  display: block;
  color: #293f55;
  border-radius: 50%;
  background : white url(../assets/imgs/method-draw-image.svg) no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  transform: translate(20px,2px);
  text-align: center;
}
@keyframes pop{
  0%{
    opacity: 0;
    transform: scale(0);
  }
}